::selection {
    background: #5a376f;
    color: #ccc;
}
::-moz-selection {
    background: #5a376f;
    color: #ccc;
}
html {
    color: #ccc;
    background: #000 url('../img/bg.png') repeat 0 0;
}
body {
    font-family: 'Muli', sans-serif;
    background: transparent;
    line-height: 1.2rem;
    background: url('../img/twirl.png') no-repeat 15% -425px; /*50% -380px;*/
}
header img {
    max-width: 100%;
    margin: 1em 0;
}
footer {
    text-align: right;
    padding-bottom: 1em;
}
h1, h2, h3 {
    color: #a8d164;
    font-weight: bold;
}
a {
    color: #5a376f;
    text-decoration: none;
}
a:hover {
    color: #a8d164
}
.badge {
    text-align: right
}
.promo .deck .frame {
    display: block;
    background: #333;
    background: rgba(255, 255, 255, .2);
    padding: 1em;
    border-radius: 1em;
}
.promo .deck .frame:hover, .promo .deck .highlight {
    background: #444;
    background: rgba(255, 255, 255, .3);
}
.promo p {
    margin: 2em 1em
}
.faq {
    padding: 0 1em
}
.faq h2 {
    font-size: 1.1em;
    margin-bottom: 1em;
}
.faq > * {
    display: block
}
.faq .question {
    font-variant: small-caps;
    margin-bottom: .3em;
}
.faq .answer {
    font-style: italic;
    color: #666;
    margin-bottom: 1em;
    line-height: 1.1rem;
}
.actions .button {
    margin: 0 1em;
}
.product section > * {
    margin-bottom: 2em !important;
}

[data-clearing] li {
    margin: 0
}
.clearing-assembled .clearing-container .visible-img {
    background: none;
}
.clearing-blackout {
    background: rgba(17, 17, 17, .9);
}